/*bg 242424
color 255 255 255 0.87
*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--bg: #242424;
	--color: rgba(255, 255, 255, 0.87);
	--light-bg: #292929;
	background-color: var(--bg);
	color: var(--color);
}

@media screen and (max-width: 425px) {
	header {
		flex-direction: column;
		max-height: 14.8vh;
		margin-top: 0 !important;

		h1 {
			margin: 0 !important;
		}

		nav {
			ul {
				margin-right: 0 !important;
				display: flex;
				align-items: center;
				flex-direction: column;

				li {
					margin: 0 !important;
					margin-top: 0.87vh !important;

					&.firstChild {
						margin-top: 0;
					}

					&.lastChild {
						display: flex;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 530px) {
	div.chat-div {
		height: calc(100vh - 5.723vh - 12.83vh) !important;
	}
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 16px;
	max-width: 100vw;
	min-height: 5.723vh;

	h1 {
		font-size: 4.99vh;
		margin: 0 0.83vw;
	}

	nav {
		text-align: center;
		ul {
			list-style: none;
			margin-right: 0.83vw;

			li {
				display: inline-block;
				margin: 0 0.83vw;
				text-align: center;

				a,
				span {
					text-decoration: none;
					color: var(--color);
					font-size: 1.66vh;

					&:hover {
						color: #fff;
					}
				}

				input {
					background-color: var(--light-bg);
					color: var(--color);
					border: 0;
					border-radius: 8px;
					padding: 8px;
					margin: 0 0.83vw;
					height: 3.33vh;
					font-size: 1.527vh;
					/*font-size: 1.66vh;*/
				}

				button {
					background-color: var(--light-bg);
					color: var(--color);
					border: 0;
					border-radius: 8px;
					padding: 8px;
					margin: 0 0.83vw;
					height: 3.33vh;
					font-size: 1.527vh;
					/*font-size: 1.66vh;*/
				}
			}
		}
	}
}

div.chat-div {
	display: flex;
	justify-content: center;
	height: calc(100vh - 5.723vh - 32px);
	max-height: calc(100vh - 5.723vh - 64px);

	div {
		background-color: var(--light-bg);
		width: 90%;
		height: 100%;
		border-radius: 8px;
		border: 1px solid #fff;

		&.effective-chat {
			overflow-y: clip;
		}
	}
}

form.writing-div {
	/*background-color: aqua;*/
	/*border-radius: 10px;*/
	min-width: 100%;
	margin: 0 auto;
	/*margin-bottom: 10px;*/
	border-radius: 8px;
	min-height: 5%;
	max-height: 5%;
	display: flex;
	justify-content: center;

	input {
		border: 0;
		border-bottom-left-radius: 8px;
		border-top-left-radius: 8px;
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
		flex-grow: 0.95;
		background-color: #3a3a3a;
		color: var(--color);

		&:focus {
			outline: none;
		}
	}

	button {
		border: 0;
		border-bottom-right-radius: 8px;
		border-top-right-radius: 8px;
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
		flex-grow: 0.05;
		background-color: #3a3a3a;
		color: var(--color);
	}
}

div#message-div {
	width: 100%;
	border: 0;
	height: auto;
	display: flex;
	justify-content: end;
	margin-bottom: 1.5%;
	background-color: rgba(0, 0, 0, 0);

	div {
		display: flex;
		justify-content: center;
		margin-right: 5%;
		min-width: 10%;
		min-height: 110%;
		width: auto;
		height: auto;
		max-width: 50%;
		align-items: center;

		span {
			padding-left: 1.5%;
			padding-top: 1%;
			padding-bottom: 1%;
			padding-right: 1%;
		}
	}
}

div#message-div-left {
	width: 100%;
	border: 0;
	height: auto;
	display: flex;
	justify-content: start;
	margin-bottom: 1.5%;
	background-color: rgba(0, 0, 0, 0);

	div {
		display: flex;
		justify-content: center;
		margin-left: 5%;
		min-width: 10%;
		min-height: 110%;
		width: auto;
		height: auto;
		max-width: 50%;
		align-items: center;

		span {
			padding-left: 1.5%;
			padding-top: 1%;
			padding-bottom: 1%;
			padding-right: 1%;
		}
	}
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
}
